.category {
  text-align: left;

  &__title {
    margin: 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    // @media (max-width: 600px) {
    //   // align-items: center;
    // }
  }

  // &__list {
  //   list-style: none;
  //   padding: 0;
  //   margin: 0;
  //   margin-top: 1rem;
  //   max-width: 100%;
  //   display: grid;
  //   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  //   gap: 1rem;
  // }
}
